#inicio {
  scroll-margin: 13rem;

  .section-cards {
    background-image: url(../assets/desktop-banner-ps2.jpg);
    width: 100%;
    height: 200vh;
    background-position: top;
    background-size: contain;
    background-repeat: repeat-y;

    h3 {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      font-size: map-get($fuentes, step-3);
    }

    p {
      margin-bottom: 0;
      font-size: map-get($fuentes, step-2);
    }

    #grecia,
    #marina {
      scroll-margin: 4rem;
    }

    .card-grecia,
    .card-marina {
      height: 100vh;
      padding-top: 3rem;

      .card-picture {
        border-radius: 10%;
        box-shadow: 1px 1px 1px black;
        width: 27rem;
        height: 50rem;
        margin-right: 1rem;
      }

      .card-picture--small {
        border-radius: 10%;
        box-shadow: 1px 1px 1px black;
        width: 21rem;
        height: 21rem;
        display: none;
      }

      .large-picture {
        >* {
          border-radius: 10%;
          box-shadow: 1px 1px 1px black;
        }
      }

      .cards-subtitles {
        min-width: 350px;
      }
    }

  }
}

@media screen and (min-width:1200px) and (max-height: 800px) {
  #inicio {
    .section-cards {
      height: 230vh;

      .card-grecia,
      .card-marina {
        height: 110vh;
      }
    }
  }
}


@media screen and (min-width: 1200px) {
  #inicio {
    .section-cards {
      .container-index {
        margin-left: auto;
        margin-right: auto;
        max-width: 60vw;
      }
    }
  }
}

@media screen and (max-width:1200px) {
  #inicio {
    .section-cards {
      background-image: none;
      background-color: #334239;
      height: 220vh;

      .card-grecia,
      .card-marina {
        height: 100vh;

        .card-picture {
          display: none;
        }

        .card-picture--small {
          display: block;
          margin-bottom: 1rem;
        }


      }

    }

  }
}

@media screen and (max-width: 850px) {
  #inicio {
    .section-cards {
      height: 220vh;

      .card-grecia,
      .card-marina {
        height: 110vh;
        scroll-margin: 0;
        margin-bottom: 2rem;

        .card-picture--small {
          width: 18rem;
          height: 18rem;
        }
      }

      article {
        margin-bottom: 0;
      }

    }
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  #inicio {
    .section-cards {
      height: 500vh;

      .card-grecia,
      .card-marina {
        height: 240vh;

        .card-picture--small {
          width: 18rem;
          height: 18rem;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  #inicio {
    .section-cards {
      height: 220vh;

      article {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  #inicio {
    .section-cards {
      height: 250vh;

      .card-grecia,
      .card-marina {
        .card-picture--small {
          width: 15rem;
          height: 15rem;
          margin-bottom: 1rem;
        }
      }

      article {
        margin-bottom: 7rem;
      }
    }
  }
}